client-mods/
player-guide/admin-provided-jars/
player-guide/pdf-preview/
player-guide/rendered/
*.log

terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/terraform.tfvars
